<div class="content">
    <h2>The CoffeeToffee Story</h2>
    <p>
        <center><img src="./images/mainPicture.jpg" alt="Coffee" /></center>
        <br />
        Coffee-flavored toffees are a type of candy that has a rich, creamy, and
        smooth texture with a strong coffee flavor. These toffees are typically
        made by boiling sugar, butter, and cream to a high temperature until it
        forms a thick, caramel-like consistency, and then adding coffee
        flavoring. The flavoring used in coffee-flavored toffees can vary, but
        it's often a combination of natural or artificial coffee extracts,
        powders, or oils. Some toffees may also contain actual coffee or
        espresso.
        <br />
        <br />
        CoffeeToffee is a popular candy for coffee lovers and can be enjoyed as
        a sweet treat or as a way to satisfy a coffee craving.
    </p>
</div>